h1 {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 3%;
}

.fields {
  color: black;
  width: 50%;
}

input {
  color: black;
  max-width: 50%;
}

// container
.container {
  text-align: center;
}

.login-buttons {
  font-size: medium;
}
